

<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
@*<link href="~/Content/DataTables/css/jquery.dataTables_themeroller.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<div class="row">
    <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              Add  Customer
               
            </header>
            <div class="panel-body" style="display: block;">
                <form id="customerForm">
                    <div class="col-md-3">
                        <label>Customer</label>
                    </div>
                    <div class="col-md-9">
                        <label>Mobile Number</label>
                    </div>
                    <div class="col-lg-3">
                        <input id="txtCustomerName" required type="text" name="CustomerName" class="form-control" />

                    </div>
                    <div class="col-lg-3">
                        <input id="txtMobile" type="text" required name="Mobile" minlength="10" maxlength="10" class="form-control" />

                    </div>
                    <div class="col-lg-4">
                        <button type="submit" id="btnsave" class="btn btn-primary">Add Customer</button>
                    </div>
                </form>
                </div>
</section>
</div>
</div>

 <div class="row">
        <div class="col-md-12 col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Customers
             
            </header>
            <div class="panel-body" style="display: block;">


                <table id="tblCustomer" class="display table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Mobile</th>
                            <th>Action</th>


                        </tr>
                    </thead>

                </table>
            </div>
        </section>
            </div>
   </div>
   

<div aria-hidden="true" aria-labelledby="fileModal" id="filemodal" role="dialog" tabindex="-1" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Files</h4>

                
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Upload file

                        </header>
                        <div class="panel-body" style="display: block;">
                            <div class="col-lg-4">
                                <input type="file" id="customerfile" />
                            </div>
                            <div class="col-lg-4">
                                <button type="button" id="btnupload" class="btn btn-primary">Upload</button>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success myprogress" role="progressbar" style="width:0%">0%</div>
                            </div>
                        </div>
                        </section>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 ">
                                <section class="panel">
                                    <header class="panel-heading">
                                        Customer files
                                    </header>
                                    <table id="tblfile" class="display table table-bordered table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Action</th>


                                            </tr>
                                        </thead>
                                    </table>
                                </section>
                                <button onclick="ShowOrderModal()"></button>
                            </div>
                        </div>
                </div>
         </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="orderModal" id="orderModal" role="dialog" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Files</h4>
            </div>
            <div class="modal-body">

                <form action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="control-label col-md-2">Order</label>
                        <div class="col-md-10">
                            <textarea id="txtDescription" class="wysihtml5 form-control" rows="9"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-lg-2">
                           </div>
                        <div class="col-md-10">
                            <button class="btn btn-info" onclick="SendOrders();" >Send</button>
                        </div>
                    </div>
                </form>

                

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="UserId" />
<input type="hidden" id="FileId" />

<script>
    var tablefile;
    function ShowFiles(userId) {
        $("#filemodal").modal('show');
        $("#UserId").val(userId);
        debugger;
        if ($.fn.dataTable.isDataTable(tablefile)) {
            tablefile.ajax.reload();
        }
        else {
            
            tablefile = $('#tblfile').DataTable({
                "lengthMenu": [[7, 25, 50], [7, 25, 50]],
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    "url": $_GetFiles,
                    "type": 'POST',
                    "data": function (d) {
                        d.model = { UserId: $("#UserId").val() };
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                     { "data": "FileName" },
                     {
                         "data": "UserId", "render": function (data, type, row) {
                             //ShowFiles(row.UserId);
                             $("#FileId").val(row.FileId);
                             if (row.IsSend) {
                                 return '<a  class="btn btn-danger btn-xs">In process</a>';
                             }
                             else
                             {
                             
                                 return '<a href="#"  onclick="ShowOrderModal(' + row.FileId + ')" class="btn btn-primary btn-xs" >Send to admin</a>';
                                 
                             }
                         }
                     }

                ],




            });
        }
    }

    function ShowOrderModal(userId)
    {
        $("#orderModal").modal('show');
        $("#UserId").val(userId);
    }
    function SendOrders()
    {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendOrder","Clerk")',
            data: { Comment: $("#txtDescription").val(), ApplicantUserId: $("#UserId").val() },
            async:false,
            success: function (resultdata) {
                tablefile.ajax.reload();
                $("#orderModal").modal("hide");
                $.connection.notificationHub.server.send();
            }
        });
        debugger;
    }

    $(document).ready(function () {
       

        var tablecustomer=    $('#tblCustomer').DataTable({
            "lengthMenu": [[7, 25, 50], [7, 25, 50]],
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                "url": $_GetCustomer,
                "type": 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                 { "data": "FullName" },
                   { "data": "Mobile" },
                 //{ "data": "" },
                  //{
                  //    "data": "IsActive",
                  //    "render": function (data, type, row) {
                  //        if (row.IsActive === true) {
                  //            return '<input type="checkbox" checked class="chkBox">';
                  //        }
                  //        else {
                  //            return '<input type="checkbox" class="chkBox">';
                  //        }
                  //        return data;
                  //    }
                  //},
                  

                 {
                     "data": "UserId", "render": function (data, type, row) {
                         //ShowFiles(row.UserId);
                         var buttons = '<a href="#"  onclick="ShowOrderModal(' + row.UserId + ')" class="btn btn-primary btn-xs" >Send to admin</a>'
                         buttons += '&nbsp;<a href="#" class="btn btn-primary btn-xs" onclick="ShowFiles(' + row.UserId + ')">Show Files</a>'
                         return buttons;
                     }
                 }

            ],




        });


      

        $("#customerForm").submit(function (e) {
            e.preventDefault();
            debugger;
            if ($(this).valid())
            {
               var data = tablecustomer.column(1).data(); //column array of data table
               
               if ($.inArray($("#txtMobile").val().trim(), data) == -1) {
                   $.ajax({
                       type: "POST",
                       url: $_AddCustomer,
                       data: { FullName: $("#txtCustomerName").val(), Mobile: $("#txtMobile").val() },
                       success: function (resultdata) {
                           tablecustomer.ajax.reload();
                       }
                   });
               }
               else
               {
                   alert("Mobile already exist.");
               }
            }


        });


        $('#btnupload').click(function () {
            debugger;
            var data = new FormData();

            var files = $("#customerfile").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
                data.append("UserId", $("#UserId").val());
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            $.ajax({
                type: "POST",
                url: $_UpdloadFile,
                contentType: false,
                processData: false,
                data: data,
                success: function (resultdata) {
                    tablefile.ajax.reload();
        
                },
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    $('.myprogress').css('width', '0%');
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        percentComplete = parseInt(percentComplete * 100);
                        $('.myprogress').text(percentComplete + '%');
                        $('.myprogress').css('width', percentComplete + '%');
                    }
                }, false);
                return xhr;
            },
            });
        });

        $("#txtMobile").keyup(function () {
            tablecustomer.search(this.value).draw();
        });
        //$('#sendmessage').click(function () {
        //    chat.server.send($('#displayname').val(), $('#message').val());
        //    $('#message').val('').focus();
        //});
        chat = $.connection.notificationHub;
        $.connection.hub.start().done(function () {

            //$('#BtnSend').click(function () {

            //    chat.server.LetsChat($('#UserName').val(), $('#TxtMessage').val());

            //    $('#TxtMessage').val('').focus();

            //});

        });
      
    });

   
    var chat = $.connection.notificationHub;
    $.connection.hub.start().done(function () {

        //$('#BtnSend').click(function () {

        //    chat.server.LetsChat($('#UserName').val(), $('#TxtMessage').val());

        //    $('#TxtMessage').val('').focus();

        //});

    });
    </script>