

<link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/imageviewer.css" rel="stylesheet" />
<script src="~/Scripts/imageviewer.min.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<div class="row">
    <table id="tblAdminFiles" class="display table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Mobile</th>
                <th>Action</th>


            </tr>
        </thead>

    </table>
</div>


<div aria-hidden="true" aria-labelledby="fileModal" id="filemodal" role="dialog" tabindex="-1" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Files</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-4">
                        <input type="file" id="customerfile" />
                    </div>
                    <div class="col-lg-4">
                        <button type="button" id="btnupload" class="btn btn-primary">Upload</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table id="tblfile" class="display table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Mobile</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    </div>

                </div>
         </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="orderModal" id="orderModal" role="dialog" tabindex="-1" class="modal fade">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Files</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                <div id="FileViewer" class="col-lg-12">

                 </div>
                    <div class="col-lg-12" style="padding-top: 13PX;">

                        <form action="#" class="form-horizontal ">
                            <div class="form-group">
                                <label class="control-label col-md-2">Order</label>
                                <div class="col-md-10">
                                    <textarea id="txtDescription" placeholder="Please enter the comments" class="wysihtml5 form-control" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-md-10">
                                    <button class="btn btn-info" onclick="SendOrder();">Send</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    </div>
                    </div>
        </div>
    </div>
</div>
<input type="hidden" id="UserId" />
<input type="hidden" id="FileId" />
<input type="hidden" id="hdnFileId">
<script>
    var tablefile;
    function ShowFiles(userId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CustomerFileOrders","Admin")',
            data: { UserId: userId },
            success: function (result) {
                $("#FileViewer").html(result)
                $("#orderModal").modal("show");
            }
        });
    }

    function SendToDepartment(user) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendToDepartment","Admin")',
            data: { user: user },
            success: function (result) {
                $("#FileViewer").html(result)
                $("#orderModal").modal("show");
            }
        });
    }

    function SendOrder()
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendOrder","Admin")',
            data: { OrderDesc: $("#txtDescription").val(), FileId: $("#hdnFileId").val() },
            success: function (resultdata) {
                $("#orderModal").modal("hide");
                tablefile.ajax.reload();

            }
        });

    }
    $(document).ready(function () {
        var tablecustomer=    $('#tblAdminFiles').DataTable({
            "lengthMenu": [[7, 25, 50], [7, 25, 50]],
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                "url": $_GetAdminOrders,
                "type": 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "FullName" },
                 { "data": "Mobile" },
                 {
                     "data": "UserId", "render": function (data, type, row) {
                         //ShowFiles(row.UserId);
                         //return '<a href="#" class="btn btn-primary btn-sm" onclick="ShowFiles(' + row + ')">View File</a>';
                         return '<a href="@Url.Action("SendToDepartment","Admin")?userId=' + row.UserId + '" class="btn btn-primary btn-sm" >Send</a>';
                     }
                 }

            ],
        });




        $("#btnsave").click(function () {
            $.ajax({
                type: "POST",
                url: $_AddCustomer,
                data: {FullName:$("#txtCustomerName").val()},
                success: function (resultdata) {
                    tablecustomer.ajax.reload();
                }
            });


        });


        $('#btnupload').click(function () {

            var data = new FormData();

            var files = $("#customerfile").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
                data.append("UserId", $("#UserId").val());
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            $.ajax({
                type: "POST",
                url: $_UpdloadFile,
                contentType: false,
                processData: false,
                data: data,
                success: function (resultdata) {
                    tablefile.ajax.reload();
                }
            });
        });

        $("#orderModal").draggable({
            handle: ".modal-header"
        });
        var chat = $.connection.notificationHub;
        chat.client.addNewMessageToPage = function () {
            tablecustomer.ajax.reload();
        };

        $.connection.hub.start().done(function () {
            //$('#sendmessage').click(function () {
            //    chat.server.send($('#displayname').val(), $('#message').val());
            //    $('#message').val('').focus();
            //});

    });

    });



</script>



